body{
    background-color: cyan;
}
h1{
    text-align: center;
    text-decoration: underline;
    color:tomato;
    text-indent: 30px;
}
h2{
    text-align: center;
    color:brown;
    text-transform: initial;
}
h3{
    text-align: center;
    color:burlywood;
    text-decoration: line-through;
}
p{
    text-align: justify;
    color:black;
    text-decoration: normal;
}
